body{
    background-image: url("../img/StockSnap.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: inherit;
    background-position: top center;
    line-height: 1.7;

}

header {
    border-bottom: solid #904644;
}

.main-nav {
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}


.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: #904644;
}

.main-nav a:hover{
    color:#0bd;
}

.page-header{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}
#icon {
    color: #904644;
    margin-left: 1.9em;
}

.title{
    color: #904644;
    margin-left: 2.5em;
}

img {
    justify-content: space-between;
    border-radius: 60%;
    width: 150px;
    height: 150px;
    border: 2px solid black;
}

.grid{
    display: grid;
    gap: 26px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 6%;
    margin-bottom: 50px;
    font-size: 15px
}

.grid:hover{
    font-style:normal;
    text-decoration:underline;
}
